# Compiled Executables & Build Artifacts
build/bin/
build/
frontend/dist/
node_modules/

# Database & Environment
workspace.db
*.db
.env
.env.local

# Logs & Output PDFs
logs/
*.log
*.pdf
output.txt
output_error.txt

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Security Keys
*.pfx
key.key

#Assets
assets/